body {
  background-color: black;
  text-align: center;
  color: white;
  width: 40vh;
  margin: 0 auto;
}

a {
  color: white;
}

img {
  height: 20vh;
  width: 20vh;
}

main {
  display: flex;
  flex-direction: column;
}

.project {
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
}
