* {
  font-family: "Press Start 2P", cursive;
  font-family: "Zen Dots", cursive;
}

body {
  background-color: black;
  text-align: center;
  color: white;
  width: 40vh;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

img {
  height: 15vh;
  width: 15vh;
}

main {
  display: flex;
  flex-direction: column;
}

.project {
  border: 1px solid rgb(67, 40, 201);
  border-radius: 20px;
  margin-top: 1vh;
}
